@import "null.css";
@import "fonts.css";

/* body */

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.main {
    padding: 15px 0 ;
}

/* Общие классы */
[class*="__container"] {
    margin: 0px auto;
    max-width: 1020px;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}


[class*="subtitle"]:not(:last-child) {
    margin-bottom: 33px;
}

.button {
    align-self: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F2726F;
    padding: 10px 24px;
    border-radius: 8px;
}

/* ================================== make-an-appointment  */


.form-appointment {
}
.form-appointment__container {
    padding: 76px 57px 76px 57px;
    max-width: 585px;
    background: #5D62B5;
    border-radius: 40px;
}
.form-appointment__title {
    margin-bottom: 43px;
    color: #FFFFFF;
    text-align: center;
}
.form-appointment__form {
    display: flex;
    flex-direction: column;
}

.form-appointment__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 22px;
    margin: 0px -11px;
}

.form-appointment__bottom {
    align-self: flex-end;
}

.form-appointment__line {
    min-width: 200px;
    flex: 1 1 50%;
    padding: 0px 11px;
}

.form-appointment__input {
    padding: 16px 23px;
    border: 2px solid #FFFFFF;
    border-radius: 10px; 
    color: #FFFFFF;
    background: #5D62B5;  
    width: 100%;
}

.form-appointment__input:focus {
    background-color: #F2726F;
}

.form-appointment__input::placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.form-appointment__select {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

.form-appointment__textarea {
    flex: 0 1 100%;
    padding: 0 11px 16px 11px;
}

.form-appointment__textarea-form {
    border: 2px solid #FFFFFF;
    border-radius: 10px; 
    width: 100%;
    color: #FFFFFF;
    background: #5D62B5;  
    min-height: 180px;
    max-height: 300px;
    resize: vertical;
    padding: 17px 0px 0px 23px;
    
}
.form-appointment__textarea-form::placeholder {
    color: #FFFFFF;
}

.form-appointment__button {
    align-self: flex-end;
    cursor: pointer;
}

/* summery */

.summery {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0;
}
.summery__container {
    max-width: 343px;
    background: #F5F7FF;
    padding: 20px 18px 24px 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #000;
}
.summery__name-cart {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
}
.summery__item {
    margin-bottom: 7px;
    font-size: 14px;
}
.summery__text {
    color: #666666;
    margin-bottom: 10px;
    max-width: 250px;
}
.summery__form {

}
.summery__label {
    font-weight: 600;
    font-size: 11px;
    line-height: 210%;
    width: 100%;
    display: block;
}
.summery__input {
    line-height: 20px;
    display: block;
    width: 100%;
    min-height: 38px;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    margin-bottom: 4px;

}

.summery__input_margin28 {
    margin-bottom: 28px;
}

.summery__radio {
    padding-left: 10px;
}

.summery__radio_margin10 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.summery__radio_flex:last-child {
    margin-bottom: 25px;
}

.summery__input_placeholder {
    padding-left: 10px;
    opacity: 0.7;
}

.summery__button {
    border: 2px solid #0156FF;
    border-radius: 50px;
    color: #0156FF;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}
/* ================= registered */
.registered {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.registered__container {
    max-width: 500px;
    border: 1px solid #000;  
    padding: 20px 20px 32px 20px;
    background: #F5F7FF;
}
.registered__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
}
.registered__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
}

.text-red {
    color: red;
}
.registered__form {
}

.registered__label {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 210%;
    padding: 5px 0 5px 0px;
}

.registered__input {
    display: block;
    width: 100%;
    border: 1px solid #A2A6B0;
    border-radius: 4px;
    min-height: 38px;
    padding-left: 15px;
}

.registered__input:last-of-type {
    margin-bottom: 16px;
}

.registered__button {
    background: #0156FF;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 29px;
    cursor: pointer;
}
.registered__link {
    color: #0156FF;
    margin-left: 16px;
}
